.app {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	background-color: #f5f5f5;
}

.calculator {
	width: 320px;
	margin: 40px auto;
	padding: 24px;
	border-radius: 16px;
	background: #f4f4f7;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.display {
	min-height: 50px;
	/* width: 100%; */
	padding: 10px;
	font-size: 2rem;
	color: #353535;
	border-radius: 8px;
	background: #fff;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
	text-align: right;
}

.displayResult {
	color: #08781a;
	background: #e8ffea;
}

.smallFont {
	font-size: 1rem; /* было 2rem — теперь вдвое меньше */
	line-height: 1.4;
	white-space: pre-wrap; /* позволяет переносить текст */
	word-break: break-all; /* принудительно ломает длинные строки */
	height: 60px; /* фиксированная высота, чтобы "вместить" две строки */
	overflow: hidden;
	text-align: right;
	padding: 8px 10px;
}

.grid-container {
	display: grid;
	grid-template-rows: auto auto 1fr;
	gap: 18px;
}

.numpad {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 12px;
}

.numpad button:nth-child(10) {
	grid-row: span 1;
}

.button {
	font-size: 1.3rem;
	padding: 16px 0;
	border: none;
	border-radius: 8px;
	background: #dde2ef;
	color: #252525;
	cursor: pointer;
	transition: background 0.18s;
}

.numpad button:nth-last-child(-n + 2) {
	grid-column: span 2;
}

.button:active {
	background: #b3c0de;
}

.operatorBtn {
	background: #fdb97a;
	color: #692900;
}

.resetBtn {
	background: #eee;
	color: #cd1818;
}
